<h1>
  Works
  <% if params[:q] %>
    <%= " matching '#{params[:q]}'" %>  
  <% end %>
</h1>

<%= form_tag '/works', method: :get, class: "search form-inline" do %>
  <%= text_field_tag :q %>
  <%= submit_tag 'Submit', class: "btn btn-primary" %>
<% end %>

<% @works && @works[:works].each do |work| %>
  <%= render 'blurb', work: work %>
<% end %>
