<%= form_for @draft, url: '/drafts/new/extras', html: { class: 'form' } do |f| %>

  <div class="form-group">
    <%= f.fields_for :chapter do |chapter| %>
      <%= chapter.label :content %>
      <%= chapter.text_area :content, class: 'form-control' %>

      <%= chapter.label :title %>
      <%= chapter.text_field :title, class: 'form-control' %>

      <%= chapter.label :published_at %>
      <%= chapter.text_field :published_at, class: 'form-control' %>
    <% end %>
  </div>

  <%= f.hidden_field :id, value: @draft.id %>
  <p><%= f.submit 'Add Co-Creators, Series, Collections and More', class: 'btn btn-info', style: { width: '100%' } %></p>
  <p><%= f.submit 'Preview Draft', class: 'btn btn-secondary' %></p>
  <p><%= f.submit 'Post Work', class: 'btn btn-primary' %></p>

<% end %>
