<!DOCTYPE html>
<html>
  <head>
    <title>AO3</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>

    <%= stylesheet_link_tag 'sandbox' %>
  </head>

  <body>
    <div class="container" id="archive">
      <%= render 'layouts/header' %>
      <% flash.each do |name, msg| -%>
        <%= content_tag :div, msg, class: (name == 'notice' ? 'alert alert-primary' : 'alert alert-danger') %>
      <% end -%>

      <div id="main"><%= yield %></div>
    </div>

    <% if current_user %>
      <%= content_tag :div, id: "current_user",
        data: {
          id: current_user.id,
          name: current_user.login,
          loggedIn: true
        }.to_json  do %><% end %>
    <% end %>
  </body>
</html>
